
{{#shows}}
  <div class="show">
    {{#error}}
      <b>{{ title }}</b>
      <ul><li class="error">{{ error }}</li></ul>
    {{/error}}
    <div class="episodes">
      {{#episodes.length}}
      <b>{{ title }}</b>
      {{/episodes.length}}
      <ul>
      {{#episodes}}
        <li class="episode">
          s{{ season }}e{{ episode }}
          <ul>
          {{#files}}
            <li>
              <span class="file">{{ format }} | {{ codec }}</span>
              <ul>
                {{#links}}
                  <li>{{ hoster }}: <span class="link">{{ link }}</span></li>
                {{/links}}
              </ul>
            </li>
          {{/files}}
          </ul>
        </li>
      {{/episodes}}
      </ul>
    </div>
  </div>
{{/shows}}
{{^episodeCount}}
  No new episodes found.
{{/episodeCount}}
