li {
  list-style-type: none;
}

ul {
  -webkit-padding-start: 10px;
}

#links {
  font-family: monospace;
}

.show {
  -webkit-user-select: none;
}

.episode li {
  -webkit-user-select: initial;
}

.error {
  color: red;
}
