
li {
  list-style-type: none;
}

ul {
  -webkit-padding-start: 10px;
}

.show {
  -webkit-user-select: none;
}

.episode .link {
  -webkit-user-select: initial;
}

.episode {
  font-family: monospace;
}
