<section class="container">
  <h3>Login:</h3>
  <form class="form-inline" role="form">
    <p>Automatically login to warez-bb.org using these credentials if not already logged in.</p>
    <div class="form-group">
      <label for="username">Username:</label> 
      <input type="text" class="form-control" id="username" ng-model="credentialsCtrl.username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" ng-model="credentialsCtrl.password">
    </div>
    <button class="btn btn-default" ng-click="credentialsCtrl.save()">Save</button>
    <button class="btn btn-default" ng-click="credentialsCtrl.clear()">Clear</button>
  </form>
  <br/>
</section>